<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <p>Second View P228</p>

    @*<p>@name @ViewData["SurName"]</p>*@

    <p>@ViewData["Name"]</p>
    <p>@ViewBag.SurName</p>

    <p>@ViewData["name"]</p>
    <p>@ViewBag.surName</p>
    <p>@TempData["age"]</p>
</body>
</html>